<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>
          Pampa Moda
        </title>

        <!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"> -->
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/main.less">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/fav.png" type="ico/png">

        <!-- Estilos para el plugin 360-player -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}360-player/360player.css">

        <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/prefixfree.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/less.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/jquery.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/mustache.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/history/jquery.history.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/pampa.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/hashChanger.js'></script>


        <!-- Librerias para el reproductor de musica -->
        <script type="text/javascript" src='{{ STATIC_URL }}360-player/script/berniecode-animator.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/soundmanager2.js'></script>

        <script type="text/javascript" src='{{ STATIC_URL }}360-player/script/excanvas.js'></script>
        <script type="text/javascript" src='{{ STATIC_URL }}360-player/script/360player.js'></script>

</head>
    <body>

        <!-- Definimos la plantilla del html para el menu -->
        <script id='menu-item-template' type='text/html'>
            <div data-id='[[data_id]]' id='[[id]]' class='button'>
                <span class='outter-text'>
                    <span class='inner-text'>[[name]]</span>
                    <div></div>
                </span>
            </div>
        </script>

        <!-- Definimos la plantilla del html para el menu del producto-->
        <script id='product-opt' type='text/html'>
            <div class='opt'>
                <div class='optbut zoomout'></div>
                <div class='optbut turn'></div>
                <div class='optbut cart'></div>
            </div>
        </script>

        <!-- Definimos el html para el backbutton -->
        <div id='back-button-html' style='display: none;'>
            <div class='back-button'>Atrás</div>
        </div>

        <!-- Este div se utiliza para indicar cuando el sitio esta cargando -->
        <div id="loading" class='not-main-loading'>
            <img src='{{ STATIC_URL }}img/main-loading.png'>
        </div>

        <!-- Este div se utiliza para mostrar el contenido de cada seccion del sitio -->
        <div id="content">

            <!-- Seccion campaña -->
            <div id="campaign" class='section'>
                <div class="b next"></div>
                <div class="b prev"></div>
                <div class="backsled">
                    <!-- Los contenidos de este div son insertados dinamicamente -->
                </div>
            </div>

            <!-- Seccion contacto -->
            <div id="contact" class="section">
                <div class="contacto-box">
                    <input type="text" name='nombre' placeholder='Nombre'>
                    <input type="text" name='mail' placeholder='E-mail'>
                    <textarea name="mensaje" id="" cols="30" rows="5" placeholder='Mensaje'></textarea>
                    <div id='submit-contact'>
                        Enviar
                    </div>
                </div>
            </div>

            <div id="section" class="section">
                <div id="section-wrapper">
                    <!-- Los contenidos de este div son insertados dinamicamente -->
                </div>
            </div>

        </div>


        <!-- Este div crea la linea roja de arriba, es solo para diseño -->
        <div id="red-line"></div>


        <!-- Este div contiene el logo del sitio y el fondo principal -->
        <div id="wrapper">
            <img class='logo' data-src='{{ STATIC_URL }}img/pampa-logo.png'>
            <div id="music-player">
                <div class='ui360'>
                    <a href='{{ STATIC_URL }}mp3/soundtrack.mp3'></a>
                </div>
            </div>
        </div>


        <!-- Para comenzar la animacion inicial para mostrar el menu hay que agregarle
        la clase '.show' al div menu. -->
        <div class='menu menu-animate'>
            <!-- El contenido del menu se genera dinamicamente -->
        </div>


        <!-- Al agregarle la clase '.loading' el apartado subscribe cambia de estado a loading -->
        <div id="subscribe">
            <p>Ingresa tu e-mail para recibir novedades y ofertas!</p>
            <input type="text" name='subscribe-mail' placeholder='E-mail'>
            <div class='subscribe-loading'>
                <img data-src="{{ STATIC_URL }}img/loading.gif" alt="Cargando">
            </div>
        </div>


        <div class='footer'>
            <p>
                <a href="http://www.piccadilly.com.br/" target="_blank">
                    <img data-src="{{ STATIC_URL }}img/marcas/piccadilly.png" alt=""></a>
                <a href="http://www.ladystork.com/" target="_blank">
                    <img data-src="{{ STATIC_URL }}img/marcas/lady-stork.png" alt=""></a>
                <a href="http://www.westcoast.com.br/" target="_blank">
                    <img data-src="{{ STATIC_URL }}img/marcas/west-coast.png" alt=""></a>
                <a href="http://www.taverniti.com.ar/" target="_blank">
                    <img data-src="{{ STATIC_URL }}img/marcas/taverniti.png" alt=""></a>
                <a href="http://www.scombrojeans.com.ar/" target="_blank">
                    <img data-src="{{ STATIC_URL }}img/marcas/scombro.png" alt=""></a>
            </p>
        </div>
    </body>
</html>
